<app-header></app-header>

<div class="container">
  <div class="row h-100 justify-content-center align-items-center justify-content-md-center">
    <div class="col col-md-8">

          <mat-card class="example-card">
            <mat-card-content>
              <div class="title-card">
                <h2>CONDIÇÕES METEOROLÓGICAS AGORA</h2>
                <h3>{{ forecast?.dt * 1000 | date:'dd/MM/yyyy' }}</h3>
              </div>
              
              <div class="card-body">
                <div class="row">
                  <div class="col col-xs-12 text-center"> 
                    <img width="80px" src="http://openweathermap.org/img/wn/{{weather}}.png" alt="{{weather?.icon}}">
                  </div>
                  <div class="col col-xs-12">
                    <p>
                      <b>Velocidade do vento:</b> {{ forecast?.wind?.speed }} m/s<br>
                      <b>Humidade: </b> {{ forecast?.main?.humidity }} % <br>
                      <b>temperatura: </b> 
                        <span class="celsius">
                          {{ forecast?.main?.temp | temperatureConverter : 'C' }} °C
                        </span> | 
                        <span class="fahrenheit">
                          {{ forecast?.main?.temp | temperatureConverter : 'F' }} °F
                        </span>
                    </p>
                  </div>
                </div>
              </div>
              
            </mat-card-content>
            <button routerLink="/{{city}}/graph" type="button" (click)="changeGraph" class="btn-details" mat-raised-button color="accent">Visualizar dados dos próximos 5 dias</button>
          </mat-card>

    </div>
  </div>
</div>



<!-- <figure>
  <pre>
    <code>
      {{ this.forecast | json }}
    </code>
  </pre>
</figure> -->