.example-card {
    margin-top: 30px;
}

.title-card {
    border-bottom: 1px solid #f0f0f0;
}
.title-card h2 {
    color: #004983;
    font-size: 20px;
    margin-bottom: 0px;
}
.title-card h3{
    color: #70767b;
    font-size: 16px;
    font-weight: 600;
}
.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 60px;
}
.fa-long-arrow-alt-up {
    color: #ce4545;
}
.fa-long-arrow-alt-down {
    color: #7c7cb7;
}
.card-body p{
    font-size: 15px;
}
.card-body p b{
    color: #004983;
}

.btn-details {
    position: absolute;
    right: 15px;
}