section {
    height: 100vh;
    background: url('https://diariodovale.com.br/wp-content/uploads/2019/03/poente.jpeg');
    background-size: cover;
}
.container, .row.justify-content-center.align-items-center {
    height: 100%;
    min-height: 100%;
}