<section>
  
  <div class="container">
    <div class="row h-100 justify-content-center align-items-center justify-content-md-center">
      <div class="col col-md-8">

        <app-search></app-search>

      </div>
    </div>
  </div>


</section>