<app-header></app-header>

<div class="container">
  <div class="row h-100 justify-content-center align-items-center justify-content-md-center">
    <div class="col col-md-8">
      
      <div class="paddingTop">
        <mat-accordion class="example-headers-align">
  
            <div *ngFor="let item of ForecastList">
          
              <mat-expansion-panel hideToggle>    
  
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ item.dt_txt | date:'dd/MM/yyyy' }}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{ item.dt_txt | date:'hh:mm' }}
                  </mat-panel-description>
                  <img width="30px" src="http://openweathermap.org/img/wn/{{item.weather[0].icon}}.png" alt="{{item.weather[0].icon}}">
                </mat-expansion-panel-header>
  
                  <p>
                    <b>Velocidade do vento:</b> {{ item?.wind?.speed }} m/s<br>
                    <b>Humidade: </b> {{ item?.main?.humidity }} % <br>
                    <b>temperatura: </b> 
                      <span class="celsius">
                        {{ item?.main?.temp | temperatureConverter : 'C' }} °C
                      </span> | 
                      <span class="fahrenheit">
                        {{ item?.main?.temp | temperatureConverter : 'F' }} °F
                      </span>
                  </p>
                
              </mat-expansion-panel>
  
            </div>
  
          </mat-accordion>
      </div>

    </div>
  </div>
</div>
