.mat-action-row {
    border-top-style: solid;
    border-top-width: 1px;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    padding: 16px 8px 16px 24px;
}
p {
    font-size: 15px;
}
p b {
    color: #004983;
}
.mat-expansion-panel-header-title {
    color: #004983;
    font-weight: 500;
}
.paddingTop {
    margin-top: 30px;
}