<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="search__container">
    <h5 class="search__title">
        Digite o nome da cidade que deseja ver a Meteorologia
    </h5>
    <input class="search__input" formControlName="city" type="text" placeholder="Buscar cidade">
    <button class="btn-search" type="submit" mat-mini-fab>
      <i class="fas fa-search"></i>
    </button>
    <!-- <button class="btn btn-link"><i class="fas fa-search"></i></button> -->
  </div>
</form>